<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VROOM</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Vroom</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vroom</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
		<string>yandexmail</string>
		<string>fastmail</string>
		<string>protonmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This lets you share photos and videos and be seen during video calls.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you speak during calls, record audio along with video.</string>
	<key>RTCAppGroupIdentifier</key>
	<string>group.com.truecorp.vconnect</string>
	<key>RTCScreenSharingExtension</key>
	<string>com.truecorp.vconnect.broadcastextension</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSansThai-Regular.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSansThai-Black.ttf</string>
		<string>NotoSansThai-Bold.ttf</string>
		<string>NotoSansThai-Light.ttf</string>
		<string>NotoSansThai-Medium.ttf</string>
		<string>NotoSansThai-Thin.ttf</string>
		<string>NotoSans-Black.ttf</string>
		<string>NotoSans-Light.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-Thin.ttf</string>
		<string>NotoSansSC-Black.otf</string>
		<string>NotoSansSC-Bold.otf</string>
		<string>NotoSansSC-Light.otf</string>
		<string>NotoSansSC-Medium.otf</string>
		<string>NotoSansSC-Regular.otf</string>
		<string>NotoSansSC-Thin.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
